name: Airflow ETL CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install minimal dependencies
        run: |
          pip install pendulum psycopg2-binary requests
      - name: Validate ETL scripts
        run: |
          python -m compileall etl/

      - name: Validate Airflow DAGs
        run: |
          python -m compileall airflow/dags/

      - name: Docker build - mock orders API
        run: |
          docker build -t mock-orders-api ./scripts
